In [43]:
import pandas as pd 
import numpy as np 

from datetime import timedelta
from datetime import datetime

In [44]:
df = pd.read_csv('data.csv',index_col= 0)

In [45]:
df.dtypes

name           object
id             object
amount          int64
transaction    object
access_time    object
town           object
dtype: object

In [46]:
# Assuming you have a DataFrame with a column named 'date_column' containing string dates
df['access_time'] = pd.to_datetime(df['access_time'])

# at this point in time, how many customers do we have?

In [47]:
df.drop_duplicates(subset= 'id')['id'].value_counts().sum()

5904

In [49]:
# we have 5904 unique ids

# out of these, who are the oldest and newest customers

In [50]:
# Order by id 'customer' and access times
df = df.sort_values(by = ['access_time','id'], ascending=True)

In [51]:
# list of users

In [52]:
users = df.id.unique()

In [53]:
import pandas as pd
from datetime import timedelta


for user_id in users:
    user_info = df[df['id'] == user_id]
    
    if len(user_info) > 1:
        first_access = user_info['access_time'].min()
        last_access = user_info['access_time'].max()
        days_between = (last_access - first_access).days
        df.loc[df['id'] == user_id, 'days_between'] = days_between
    else:
        df.loc[df['id'] == user_id, 'days_between'] = 0

In [54]:
# user_info = df[df['id'] == 'a7533b48-ac1c-4aa5-a95c-eb4d70d48260']

In [12]:
# user_info['access_time'].min()

In [13]:
# user_info['access_time'].max()

In [14]:
# first_access = user_info['access_time'].min()
# last_access = user_info['access_time'].max()
# days_between = (last_access - first_access).days

In [15]:
# df.loc[df['id'] == 'a7533b48-ac1c-4aa5-a95c-eb4d70d48260','Days Between'] = days_between

# our longest customers in service

In [56]:
df.id.value_counts()

57753382-28c2-44da-950a-2106df3dec6e    8
6fd2b9ad-fb14-4d32-99e2-a6fd2a198438    8
23403926-f31d-4701-b16e-577f7ccb2eea    7
b9c53c70-8a78-45a0-9a5d-ed4aa069df2b    7
e0301dd8-e19a-4013-a23a-476c5ffc992d    7
                                       ..
5426858a-8898-47a9-a61b-05ee6204533b    1
ba2a8a56-ebf1-475b-a26b-73a4de717033    1
ebd0fe4a-6856-40ba-859e-05c16a959b38    1
d780b2cf-228d-4b1b-8b7e-23b3a772cc36    1
466fde8f-6709-4ced-b5bb-34cb60324294    1
Name: id, Length: 5904, dtype: int64

df.sort_values('days_between',ascending= False)

In [57]:
current_date = datetime.now()  # Get the current date and time

In [58]:
for user_id in users:
    
    user_info = df[df['id'] == user_id]  # Filter the DataFrame to retrieve rows for the current user ID
    
    last_access = user_info['access_time'].max()  # Extract the last access time
    recent_activity = current_date - last_access  # Calculate the time duration since the last access
    df.loc[df['id'] == user_id, 'recent_activity'] = recent_activity  # Assign the calculated value to the 'Recent Activity' column

In [59]:
df.sort_values('days_between',ascending= False)

,name,id,amount,transaction,access_time,town,days_between,recent_activity
58,Cindy Johnson,df2e5ad1-e50d-4fb1-be59-376a0c583ecd,353,deposit,2023-05-18 02:01:26.686355,Donnastad,362.0,1 days 20:50:50.872790
8,Kristen Miller,480dbd90-368e-4d6d-9f4b-fd0226dbe3ab,-1710,withdraw,2022-05-21 18:49:27.502772,Tracishire,362.0,0 days 16:48:51.298300
87,Cindy Johnson,df2e5ad1-e50d-4fb1-be59-376a0c583ecd,699,deposit,2022-05-20 10:56:26.969527,Lake Marvinmouth,362.0,1 days 20:50:50.872790
28,Kristen Miller,480dbd90-368e-4d6d-9f4b-fd0226dbe3ab,-994,withdraw,2023-05-19 06:03:26.260845,Port Jonathanton,362.0,0 days 16:48:51.298300
71,Patrick Green,2c351112-e550-4d3c-abba-b21031498e03,-1681,withdraw,2022-05-21 17:35:26.551644,New David,360.0,2 days 20:53:51.178334
...,...,...,...,...,...,...,...,...
92,Eric Garrison,a145e979-b152-44db-881a-69dd00eaf6b8,-1311,withdraw,2022-09-11 04:19:27.502772,Joannaburgh,0.0,250 days 18:32:50.056373
60,Elizabeth Chavez,3324c30b-5064-4ae1-80a0-1c9b43e62b35,604,deposit,2022-09-11 04:16:26.638782,Ericport,0.0,250 days 18:35:50.920363
47,Sherri Reilly,5c85e17c-8bdc-4769-94ed-aa40bd2666fc,-731,withdraw,2022-09-11 01:21:27.587395,Rodriguezstad,0.0,250 days 21:30:49.971750
71,Samuel Sims,b4a35eb4-4ea7-42fa-a142-83ab8935becd,-2578,withdraw,2023-02-02 11:22:26.638782,Port Robert,0.0,106 days 11:29:50.920363
68,Angela Baker,52cba580-f1bc-4005-84e5-500331f9a5f7,-1217,withdraw,2022-05-18 23:11:26.534868,New Lisaton,0.0,365 days 23:40:51.024277